# ec2_requirements.txt
# By referring "pip freeze" libraries version

# Core UI and API calls
streamlit==1.45.1 # 
requests==2.32.3 # 

# Data handling and ML model loading/execution for SHAP
pandas==2.2.3     # 
joblib==1.4.2     # 
numpy==2.0.2      # 

# SHAP and plotting
shap==0.47.2      # 
matplotlib==3.9.4 # 

# ML Libraries - CRITICAL: Match versions used for model training/saving
scikit-learn==1.6.1 # 
xgboost==3.0.0      # 